body{
    background-color:#f4f4f4;
    font-family:Arial,sans-serif;
}

.container{
    width:70%;
    margin:40px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px gray;
}

h1{
    color:#ff6600;
}

img{
    width:350px;
    max-width:100%;
    border-radius:10px;
}

button{
    background:#ff6600;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
}
