body{
    background:#f4f4f4;
    font-family:Arial,sans-serif;
}

.container{
    width:60%;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px gray;
}

input{
    width:80%;
    padding:12px;
    margin:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#ff6600;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
}

#message{
    margin-top:15px;
    font-weight:bold;
}
